<a href="https://colab.research.google.com/github/jaya-shankar/DSS_project/blob/main/DSS_assignment_dataset_combine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
!rm -rf DSS_project

!git clone https://github.com/jaya-shankar/DSS_project.git

Cloning into 'DSS_project'...
remote: Enumerating objects: 102, done.
remote: Counting objects: 100% (102/102), done.
remote: Compressing objects: 100% (76/76), done.
remote: Total 102 (delta 51), reused 73 (delta 26), pack-reused 0
Receiving objects: 100% (102/102), 28.46 MiB | 17.77 MiB/s, done.
Resolving deltas: 100% (51/51), done.

In [2]:
import pandas as pd

In [3]:
root_path = "/content/DSS_project/raw_datasets"

In [4]:
df = pd.read_csv(f"{root_path}/COVID-19_Hospital_Data_Coverage_Detail.csv")
df

,state,ccn,facility_name,street_address,city,zip_code,fips_county,provider_subtype,reporting_source,dates_with_missing_data,...,on_hand_supply_therapeutic_b_bamlanivimab_courses,previous_week_therapeutic_b_bamlanivimab_courses_used,previous_week_personnel_covid_vaccinated_doses_administered,total_personnel_covid_vaccinated_doses_none,total_personnel_covid_vaccinated_doses_one,total_personnel_covid_vaccinated_doses_all,total_personnel,previous_week_patients_covid_vaccinated_doses_one,previous_week_patients_covid_vaccinated_doses_all,Georeference
0,AZ,030108,"CORE INSTITUTE SPECIALTY HOSPITAL, THE",6501 NORTH 19TH AVENUE,PHOENIX,85015.0,13,Short Term,tt,[],...,True,True,True,True,True,True,True,True,True,POINT (-112.099612 33.531909)
1,CO,061310,SEDGWICK COUNTY MEMORIAL HOSPITAL,900 CEDAR ST,JULESBURG,80737.0,115,Critical Access Hospitals,tt,[],...,True,True,True,True,True,True,True,True,True,POINT (-102.269232 40.993743)
2,FL,102012,PAM HEALTH SPECIALTY HOSPITAL OF JACKSONVILLE,4901 RICHARD ST,JACKSONVILLE,32207.0,31,Long Term,tt,[],...,True,True,True,True,True,True,True,True,True,POINT (-81.616762 30.271029)
3,IA,160124,LAKES REGIONAL HEALTHCARE,2301 HIGHWAY 71,SPIRIT LAKE,51360.0,59,Short Term,tt,[],...,False,False,True,True,True,True,True,True,True,POINT (-95.126311 43.418176)
4,IN,151320,IU HEALTH JAY,500 W VOTAW ST,PORTLAND,47371.0,75,Critical Access Hospitals,tt,[],...,True,True,True,True,True,True,True,True,True,POINT (-84.983969 40.439368)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5851,LA,191310,FRANKLIN FOUNDATION HOSPITAL,1097 NORTHWEST BLVD,FRANKLIN,70538.0,101,Critical Access Hospitals,state,[],...,False,False,True,True,True,True,True,True,True,POINT (-91.524776 29.802231)
5852,PA,390201,LEHIGH VALLEY HOSPITAL - POCONO,206 EAST BROWN STREET,EAST STROUDSBURG,18301.0,89,Short Term,tt,[],...,False,False,False,True,True,True,True,False,False,POINT (-75.174327 40.992284)
5853,WI,520038,AURORA MEDICAL CTR WASHINGTON COUNTY,1032 E SUMNER ST,HARTFORD,53027.0,131,Short Term,tt,[],...,False,False,False,False,False,False,False,False,False,POINT (-88.362376 43.317603)
5854,GA,110010,EMORY UNIVERSITY HOSPITAL,"1364 CLIFTON ROAD, NE",ATLANTA,30322.0,89,Short Term,tt,[],...,True,True,True,True,True,True,True,True,True,POINT (-84.320977 33.791881)
5855,ND,352004,VIBRA HOSPITAL OF FARGO,5225 23RD AVE S,FARGO,58104.0,17,Long Term,state,['2022-04-07'],...,False,False,True,True,True,True,True,True,True,POINT (-96.876534 46.843983)

In [5]:
df.provider_subtype.unique()

array(['Short Term', 'Critical Access Hospitals', 'Long Term',
       'Psychiatric', 'Rehabilitation', 'Childrens Hospitals',
       "Medicaid Only Children's Psychiatric"], dtype=object)

In [6]:
general_df = pd.read_csv(f"{root_path}/hospital_count.csv")

In [7]:
general_df_states = set(general_df.state_code)
general_df_states
general_df.set_index("state_code",inplace=True)

## Adding roads data

In [8]:
roads_df = pd.read_csv(f"{root_path}/roads_measure.csv",encoding='utf-16' )
roads_df

                   State code               Measure  Year        Value
0          United States  USA  Miles of public road  2020  4192478.508
1                Alabama   AL  Miles of public road  2020   100170.897
2                 Alaska   AK  Miles of public road  2020    17680.928
3                Arizona   AZ  Miles of public road  2020    66968.047
4               Arkansas   AR  Miles of public road  2020    99246.486
5             California   CA  Miles of public road  2020   175562.156
6               Colorado   CO  Miles of public road  2020    89207.321
7            Connecticut   CT  Miles of public road  2020    21575.040
8               Delaware   DE  Miles of public road  2020     6525.610
9   District of Columbia   DC  Miles of public road  2020     1515.913
10               Florida   FL  Miles of public road  2020   123487.605
11               Georgia   GA  Miles of public road  2020   128571.803
12                Hawaii   HI  Miles of public road  2020     4501.037
13                 Idaho   ID  Miles of public road  2020    53281.228
14              Illinois   IL  Miles of public road  2020   145992.870
15               Indiana   IN  Miles of public road  2020    97110.087
16                  Iowa   IA  Miles of public road  2020   114838.394
17                Kansas   KS  Miles of public road  2020   140112.204
18              Kentucky   KY  Miles of public road  2020    80006.165
19             Louisiana   LA  Miles of public road  2020    63746.046
20                 Maine   ME  Miles of public road  2020    22851.460
21              Maryland   MD  Miles of public road  2020    32430.478
22         Massachusetts   MA  Miles of public road  2020    36815.231
23              Michigan   MI  Miles of public road  2020   122040.288
24             Minnesota   MN  Miles of public road  2020   141956.661
25           Mississippi   MS  Miles of public road  2020    77512.154
26              Missouri   MO  Miles of public road  2020   132518.842
27               Montana   MT  Miles of public road  2020    73489.786
28              Nebraska   NE  Miles of public road  2020    95331.079
29                Nevada   NV  Miles of public road  2020    47793.433
30         New Hampshire   NH  Miles of public road  2020    16193.067
31            New Jersey   NJ  Miles of public road  2020    38990.500
32            New Mexico   NM  Miles of public road  2020    72092.437
33              New York   NY  Miles of public road  2020   114205.260
34        North Carolina   NC  Miles of public road  2020   107954.343
35          North Dakota   ND  Miles of public road  2020    88429.108
36                  Ohio   OH  Miles of public road  2020   122991.748
37              Oklahoma   OK  Miles of public road  2020   115078.883
38                Oregon   OR  Miles of public road  2020    78990.700
39          Pennsylvania   PA  Miles of public road  2020   120845.435
40          Rhode Island   RI  Miles of public road  2020     6024.804
41        South Carolina   SC  Miles of public road  2020    79189.650
42          South Dakota   SD  Miles of public road  2020    81697.382
43             Tennessee   TN  Miles of public road  2020    96181.889
44                 Texas   TX  Miles of public road  2020   316567.470
45                  Utah   UT  Miles of public road  2020    48811.503
46               Vermont   VT  Miles of public road  2020    14248.412
47              Virginia   VA  Miles of public road  2020    75527.129
48            Washington   WA  Miles of public road  2020    81022.207
49         West Virginia   WV  Miles of public road  2020    38878.899
50             Wisconsin   WI  Miles of public road  2020   115751.154
51               Wyoming   WY  Miles of public road  2020    30050.790
52           Puerto Rico   PR  Miles of public road  2020    19916.489

In [9]:
roads_dic = {}
for state in general_df_states:
  try:
    roads_dic[state] = float(roads_df[roads_df.code==state].Value)
  except:
    roads_dic[state] = None
roads_dic

{'AK': 17680.928,
 'AL': 100170.897,
 'AR': 99246.486,
 'AZ': 66968.047,
 'CA': 175562.156,
 'CO': 89207.321,
 'CT': 21575.04,
 'DC': 1515.913,
 'DE': 6525.61,
 'FL': 123487.605,
 'GA': 128571.803,
 'GU': None,
 'HI': 4501.037,
 'IA': 114838.394,
 'ID': 53281.228,
 'IL': 145992.87,
 'IN': 97110.087,
 'KS': 140112.204,
 'KY': 80006.165,
 'LA': 63746.046,
 'MA': 36815.231,
 'MD': 32430.478,
 'ME': 22851.46,
 'MI': 122040.288,
 'MN': 141956.661,
 'MO': 132518.842,
 'MS': 77512.154,
 'MT': 73489.786,
 'NC': 107954.343,
 'ND': 88429.108,
 'NE': 95331.079,
 'NH': 16193.067,
 'NJ': 38990.5,
 'NM': 72092.437,
 'NV': 47793.433,
 'NY': 114205.26,
 'OH': 122991.748,
 'OK': 115078.883,
 'OR': 78990.7,
 'PA': 120845.435,
 'PR': 19916.489,
 'RI': 6024.804,
 'SC': 79189.65,
 'SD': 81697.382,
 'TN': 96181.889,
 'TX': 316567.47,
 'UT': 48811.503,
 'VA': 75527.129,
 'VI': None,
 'VT': 14248.412,
 'WA': 81022.207,
 'WI': 115751.154,
 'WV': 38878.899,
 'WY': 30050.79}

In [10]:
general_df["miles_of_road"] = 0
for i in general_df.index:
  general_df["miles_of_road"][i] = roads_dic[i]

## Adding politics data

In [11]:
politics_df = pd.read_csv(f"{root_path}/democratic_vs_republican_votes_by_usa_state_2020.csv")
politics_df.columns

Index(['state', 'DEM', 'REP', 'usa_state', 'usa_state_code',
       'percent_democrat'],
      dtype='object')

In [ ]:
dem_dic = {}
for state in general_df_states:
  try:
    dem_dic[state] = float(politics_df[politics_df.usa_state_code==state].percent_democrat)
  except:
    dem_dic[state] = None
dem_dic

In [ ]:
general_df["percent_democrat"] = 0
for i in general_df.index:
  general_df["percent_democrat"][i] = dem_dic[i]

## Adding Population Data

In [14]:
population_df = pd.read_csv(f"{root_path}/PopulationEstimates.csv")
population_df.columns

Index(['FIPStxt', 'State', 'Area name', 'Rural-urban continuum code 2013',
       'Population 2020'],
      dtype='object')

In [15]:
population_df.dropna(subset = ['Population 2020'], inplace=True)

In [16]:
def sum_population(state_code):
  # print(state_code)
  
  l = list(population_df[population_df.State==state_code]['Population 2020'])
  f = lambda x : int(x.replace(",",""))
  l = list(map(f,l))
  p = sum(l)
  return p

In [ ]:
popu_dic = {}
for state in general_df_states:

  popu_dic[state] = sum_population(state)
popu_dic

In [18]:
general_df["population"] = 0
for i in general_df.index:
  general_df["population"][i] = popu_dic[i]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
general_df.sort_index(level=1)

## Adding Average Income Data

In [30]:
avg_income_df = pd.read_csv(f"{root_path}/avg_income.csv")
avg_income_df.columns

Index(['State', '2020 Real per capita personal income',
       '2015 Real per capita personal income',
       '2015-2020 Real per capita personal income change (%)', 'state_code'],
      dtype='object')

In [ ]:
avg_income_dic = {}
for state in general_df_states:
  try:
    print(avg_income_df[avg_income_df.state_code==state]['2020 Real per capita personal income'])
    avg_income_dic[state] = float(avg_income_df[avg_income_df.state_code==state]['2020 Real per capita personal income'])
  except:
    avg_income_dic[state] = None
avg_income_dic

In [32]:
general_df["avg_income"] = 0
for i in general_df.index:
  general_df["avg_income"][i] = avg_income_dic[i]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
general_df

## Adding Mean Travel Time

In [33]:
avg_income_df = pd.read_csv(f"{root_path}/mean_travel_time.csv")
avg_income_df.columns

Index(['State', 'Value', 'state_code'], dtype='object')

In [ ]:
avg_income_dic = {}
for state in general_df_states:
  try:
    avg_income_dic[state] = float(avg_income_df[avg_income_df.state_code==state]['Value'])
  except:
    avg_income_dic[state] = None
avg_income_dic

In [35]:
general_df["mean_travel_time"] = 0
for i in general_df.index:
  general_df["mean_travel_time"][i] = avg_income_dic[i]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

## Adding precentage above 65

In [36]:
avg_income_df = pd.read_csv(f"{root_path}/percent_above_65_age.csv")
avg_income_df.columns

Index(['State', 'Value', 'state_code'], dtype='object')

In [ ]:
avg_income_dic = {}
for state in general_df_states:
  try:
    avg_income_dic[state] = float(avg_income_df[avg_income_df.state_code==state]['Value'])
  except:
    avg_income_dic[state] = None
avg_income_dic

In [38]:
general_df["above_65"] = 0
for i in general_df.index:
  general_df["above_65"][i] = avg_income_dic[i]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

## Adding Percent White

In [39]:
avg_income_df = pd.read_csv(f"{root_path}/percent_white.csv")
avg_income_df.columns

Index(['State', 'Value', 'state_code'], dtype='object')

In [ ]:
avg_income_dic = {}
for state in general_df_states:
  try:
    avg_income_dic[state] = float(avg_income_df[avg_income_df.state_code==state]['Value'])
  except:
    avg_income_dic[state] = None
avg_income_dic

In [41]:
general_df["percent_white"] = 0
for i in general_df.index:
  general_df["percent_white"][i] = avg_income_dic[i]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

## Adding Persons per Household

In [44]:
avg_income_df = pd.read_csv(f"{root_path}/persons_per_household.csv")
avg_income_df.columns

Index(['State', 'Value', 'state_code'], dtype='object')

In [ ]:
avg_income_dic = {}
for state in general_df_states:
  try:
    avg_income_dic[state] = float(avg_income_df[avg_income_df.state_code==state]['Value'])
  except:
    avg_income_dic[state] = None
avg_income_dic

In [46]:
general_df["persons_per_household"] = 0
for i in general_df.index:
  general_df["persons_per_household"][i] = avg_income_dic[i]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

## Adding Percent in Poverty

In [49]:
avg_income_df = pd.read_csv(f"{root_path}/percent_in_poverty.csv")
avg_income_df.columns

Index(['State', 'Value', 'state_code'], dtype='object')

In [51]:
avg_income_dic = {}
for state in general_df_states:
  try:
    avg_income_dic[state] = float(avg_income_df[avg_income_df.state_code==state]['Value'])
  except:
    avg_income_dic[state] = None
avg_income_dic

{'AK': 10.9,
 'AL': 16.8,
 'AR': 17.2,
 'AZ': 14.0,
 'CA': 12.8,
 'CO': 9.6,
 'CT': 10.4,
 'DC': 16.2,
 'DE': 12.5,
 'FL': 13.6,
 'GA': 14.3,
 'GU': None,
 'HI': 8.8,
 'IA': 11.2,
 'ID': 11.8,
 'IL': 12.1,
 'IN': 13.1,
 'KS': 12.0,
 'KY': 16.9,
 'LA': 18.6,
 'MA': 10.0,
 'MD': 9.0,
 'ME': 11.6,
 'MI': 14.1,
 'MN': 9.6,
 'MO': 13.2,
 'MS': 19.7,
 'MT': 13.0,
 'NC': 14.0,
 'ND': 10.7,
 'NE': 11.0,
 'NH': 7.6,
 'NJ': 9.5,
 'NM': 19.5,
 'NV': 12.9,
 'NY': 13.6,
 'OH': 13.9,
 'OK': 15.6,
 'OR': 12.6,
 'PA': 12.2,
 'PR': None,
 'RI': 12.9,
 'SC': 15.3,
 'SD': 13.1,
 'TN': 15.3,
 'TX': 14.9,
 'UT': 9.0,
 'VA': 10.7,
 'VI': None,
 'VT': 11.0,
 'WA': 10.3,
 'WI': 11.0,
 'WV': 17.8,
 'WY': 11.1}

In [52]:
general_df["percent_in_poverty"] = 0
for i in general_df.index:
  general_df["percent_in_poverty"][i] = avg_income_dic[i]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [53]:
general_df

,no_of_hospitals,miles_of_road,percent_democrat,population,avg_income,mean_travel_time,above_65,percent_white,persons_per_household,percent_in_poverty
state_code,,,,,,,,,,
AZ,107,66968.0,50.000000,14303004,45193.0,25.0,17.0,54.0,2.00,14.0
CO,105,89207.0,56.000000,11547428,55911.0,25.0,14.0,67.0,2.00,9.0
FL,252,123487.0,48.000000,43076374,49853.0,27.0,20.0,53.0,2.00,13.0
IA,123,114838.0,45.000000,6380738,52969.0,19.0,17.0,85.0,2.00,11.0
IN,166,97110.0,41.000000,13571056,50624.0,23.0,15.0,78.0,2.00,13.0
KY,114,80006.0,36.000000,9011672,47551.0,23.0,16.0,84.0,2.00,16.0
LA,209,63746.0,40.000000,9315514,49483.0,25.0,15.0,58.0,2.00,18.0
ME,38,22851.0,55.000000,2724718,50516.0,24.0,20.0,93.0,2.00,11.0
MI,158,122040.0,51.000000,20154662,51071.0,24.0,17.0,74.0,2.00,14.0
MN,139,141956.0,53.000000,11412988,56696.0,23.0,15.0,79.0,2.00,9.0
ND,48,88429.0,32.000000,1558188,60286.0,17.0,15.0,84.0,2.00,10.0
PR,58,19916.0,NaN,6571748,NaN,NaN,NaN,NaN,NaN,NaN
SD,61,81697.0,36.560062,1773334,58414.0,17.0,16.6,81.4,2.43,13.1
TN,135,96181.0,38.116591,13821680,49955.0,25.0,16.4,73.7,2.53,15.3
TX,566,316567.0,47.041904,58291010,49945.0,26.4,12.6,41.5,2.86,14.9
WI,146,115751.0,50.316901,11787436,53798.0,22.0,17.0,81.1,2.40,11.0
KS,145,140112.0,42.251426,5875760,54773.0,19.3,15.9,75.7,2.52,12.0
NJ,95,38990.0,59.249227,18577988,59594.0,31.7,16.1,54.9,2.71,9.5
SC,84,79189.0,44.075805,10236850,47252.0,24.6,17.7,63.7,2.54,15.3
AL,114,100170.0,37.032892,10048558,46963.0,24.7,16.9,65.4,2.55,16.8
MO,134,132518.0,42.063540,12309826,50404.0,23.6,16.9,79.3,2.47,13.2
VA,103,75527.0,54.948497,17262786,55333.0,28.4,15.4,61.5,2.61,10.7
NV,54,47793.0,51.324649,6209228,49914.0,24.3,15.7,48.7,2.68,12.9
IL,200,145992.0,57.923431,25625016,56482.0,29.0,15.6,61.0,2.59,12.1
OH,227,122991.0,45.947961,23598896,52758.0,23.5,17.1,78.7,2.43,13.9
GA,97,128571.0,50.105177,21423816,49392.0,28.4,13.9,52.4,2.71,14.3
NE,95,95331.0,40.072514,3923008,55891.0,18.6,15.7,78.6,2.46,11.0
NC,125,107954.0,49.300747,20878776,49396.0,24.5,16.3,62.8,2.52,14.0
NH,30,16193.0,53.621186,2755058,58342.0,27.3,18.1,90.0,2.46,7.6
NY,189,114205.0,56.481076,20402498,60936.0,33.3,16.4,55.4,2.60,13.6
PA,216,120845.0,50.341961,26005400,57030.0,26.9,18.2,76.1,2.46,12.2
MT,65,73489.0,41.626571,2168450,52054.0,18.0,18.7,85.9,2.39,13.0
CA,397,175562.0,65.934760,79076446,57347.0,29.3,14.3,36.8,2.96,12.8
AR,106,99246.0,35.609218,6023048,47765.0,21.7,17.0,72.2,2.52,17.2
DE,15,6525.0,59.646859,1979896,51689.0,25.8,18.7,61.9,2.58,12.5
WY,29,30050.0,27.517900,1153702,60463.0,17.8,16.5,83.8,2.46,11.1
MD,58,32430.0,64.853345,12354448,56578.0,32.9,15.4,50.5,2.67,9.0
OK,137,115078.0,33.059961,7918706,49254.0,21.7,15.7,65.3,2.58,15.6
RI,13,6024.0,60.336999,2194758,53859.0,24.8,17.2,72.0,2.47,12.9
ID,51,53281.0,34.124565,3678212,48216.0,20.7,15.9,81.7,2.68,11.8
MA,97,36815.0,66.783356,14059834,65853.0,29.7,16.5,71.4,2.53,10.0
MS,109,77512.0,39.547745,5922558,43284.0,24.6,15.9,56.5,2.62,19.7
WV,59,38878.0,30.112471,3587432,46130.0,25.8,19.9,92.1,2.42,17.8
AK,16,17680.0,36.098993,1466782,55470.0,18.8,11.8,60.3,2.81,10.9
WA,102,81022.0,60.330912,15410562,56385.0,27.6,15.4,68.0,2.55,10.3
OR,63,78990.0,58.308332,8474512,49485.0,23.7,17.6,75.3,2.51,12.6
NM,52,72092.0,55.400905,4235044,45637.0,22.1,17.5,37.1,2.64,19.5
UT,57,48811.0,39.187045,6543232,49388.0,21.7,11.1,78.0,3.13,9.0
CT,39,21575.0,60.241900,7211888,68533.0,26.3,17.2,66.5,2.54,10.4
HI,26,4501.0,65.042567,2910542,47234.0,27.4,18.4,21.8,3.02,8.8
VT,16,14248.0,67.156182,1286154,53726.0,22.9,19.4,92.5,2.31,11.0
DC,12,1515.0,94.707520,1379090,NaN,30.3,12.1,37.1,2.29,16.2
GU,2,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
VI,2,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
general_df.to_csv("/content/DSS_project/raw_datasets/combined_general_data.csv")